<ul class="{{styles.list}}">
  {{#each controller.words}}
    <li>
      <span class="{{../styles.score}}">{{this.length}}</span>
      <span class="{{../styles.word}}">{{this}}</span>
    </li>
  {{/each}}
</ul>